<div class="jumbo show-listing">
  <h2 class="title">{{model.title}}</h2>
  <div class="content">
    <div>
      <img src={{model.image}} class="rental-pic" alt="Picture of {{model.title}}">
    </div>
    <div class="detail-section">
      <div class="detail owner">
        <strong>Owner:</strong> {{model.owner}}
      </div>
      <div class="detail description">
        <span>Description:</span> {{model.description}}
      </div>
    </div>
  </div>
</div>
